@{
    ViewData["Title"] = "Email Confirmation";
}
@model PersonalSiteConversion.Models.ContactViewModel

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-show">
    <div class="container">

        <div class="section-title">
            <h2>Contact Form</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>Location</h3>
                    <p>Greater Kansas City Metropolitan Area</p>
                </div>
            </div>

            <div class="col-md-6 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/melissabalino/" target="_blank" rel="noreferrer" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/melissabalino" target="_blank" rel="noreferrer" class="github"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <form asp-action="Contact" role="form" class="php-email-form mt-4">
           
           <div>
               Thank you for contacting me!
           </div>
           <div>
               You sent the following message on @DateTime.Now.Date.ToShortDateString() at @DateTime.Now.ToShortTimeString():
               <br />
               @Model.Message
           </div>

        </form>

    </div>
</section><!-- End Contact Section -->
@section Scripts {
    <script>
        let header = document.getElementById('header');
        header.classList.add('header-top');
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}