@{
    ViewData["Title"] = "Portfolio-Details2";
}

<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-10">
                    <h2 class="portfolio-title">ATM C# Console App</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/ATM1.png" alt="ATM">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/ATM2.png" alt="ATM">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/ATM3.png" alt="ATM">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/ATM4.png" alt="ATM">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/ATM5.png" alt="ATM">
                            </div>
                         
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-10 portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Demonstration of Technology Proficiency using C#</strong></li>
                        <li><strong>Project date</strong>: July 2023</li>
                        <!-- <li><a href="https://github.com/melissabalino/" target="_blank" rel="noreferrer">Link to Repository</a></li> -->
                    </ul>

                    <p>
                        ATM Console App - User has 3 attempts to log in with the correct username & password. A menu appears with options to view balance, deposit, withdraw, & exit. A running account balance is tracked based on user input and will continue to update until they chooose to exit the program.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->