@{
    ViewData["Title"] = "Portfolio-Details3";

}
<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-10">
                    <h2 class="portfolio-title">Magic 8 Ball App</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/Magic8ball.png" alt="Magic 8 Ball">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/Magic8Ball1.png" alt="Magic 8 Ball">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/Magic8Ball-Q1.png" alt="Magic 8 Ball">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/Magic8Ball-Q2.png" alt="Magic 8 Ball">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/Magic8Ball-Q3.png" alt="Magic 8 Ball">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-10 portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Demonstration of Technology Proficiency using C#</strong></li>
                        <li><strong>Project date</strong>: July 2023</li>
                        <!-- <li><a href="https://github.com/melissabalino/" target="_blank" rel="noreferrer">Link to Repository</a></li> -->
                    </ul>

                    <p>
                        Magic 8 Ball App - User inputs a question. A random response from a string[] responses is generated. Lastly, the user is given the choice to ask another question. The program will then either loop back to the beginning or exit the program.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->