@{
    ViewData["Title"] = "Portfolio-Details4";

}
<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-10">
                    <h2 class="portfolio-title">StoreFront .NET Core MVC Web App</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/StoreFront.png" alt="StoreFront Database">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/storefront2.png" alt="StoreFront Database">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/storefront3.png" alt="StoreFront Database">
                            </div>
               

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-10 portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Demonstration of Technology Proficiency using .NET Core MVC</strong></li>
                        <li><strong>Project date</strong>: September 2023</li>
                        <li><a href="https://github.com/melissabalino/StoreFront" target="_blank" rel="noreferrer">Link to Repository</a></li>
                    </ul>

                    <p>
                        StoreFront - I created a secure application for managing product data. The application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category, and vendor data.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->