@{
    ViewData["Title"] = "Portfolio-Details4";

}
<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-10">
                    <h2 class="portfolio-title">StoreFront Database</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/SQL Database Diagram.png" alt="StoreFront Database">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/SQL Example Query.png" alt="StoreFront Database">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/SQL Products Table.png" alt="StoreFront Database">
                            </div>
                           @* <div class="swiper-slide">
                                <img src="~/assets/img/Magic8Ball-Q2.png" alt="StoreFront Database">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/Magic8Ball-Q3.png" alt="StoreFront Database">
                            </div>*@

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-10 portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Demonstration of Technology Proficiency using SQL</strong></li>
                        <li><strong>Project date</strong>: August 2023</li>
                        <!-- <li><a href="https://github.com/melissabalino/" target="_blank" rel="noreferrer">Link to Repository</a></li> -->
                    </ul>

                    <p>
                        StoreFront Database - In preparation for my StoreFront Application E-Commerce Site, a database was created using SSMS. First, a diagram schema was created to plan out the tables and their respective fields. Then, lookup tables connected to the Products Table were populated with data. Lastly, the Products table was populated with data. The theme was pulled from the game, Stardew Valley, and the items listed in my database are based on items available for purchase in-game.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->