@{
    ViewData["Title"] = "Portfolio-Details";
}
<main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                <div class="col-lg-10">
                    <h2 class="portfolio-title">World of Warcraft Themed Dungeon App</h2>

                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/assets/img/dungeon-app-main.png" style="width: 1101px" alt="dungeon main page">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/dungeon-app1.png" alt="dungeon character selection page">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/assets/img/dungeon-app2.png" alt="dungeon weapon selection page">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/dungeon-app3.png" alt="dungeon player info page">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/dungeon-app4.png" alt="dungeon combat menu page">
                            </div>
                            <div class="swiper-slide">
                                <img src="~/assets/img/dungeon-app5.png" alt="dungeon example monster page">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>

                <div class="col-lg-10 portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Demonstration of Technology Proficiency using C#</strong></li>
                        <li><strong>Project date</strong>: July 2023</li>
                        <li><a href="https://github.com/melissabalino/WoW_Dungeon_App" target="_blank" rel="noreferrer">Link to Repository</a></li>
                    </ul>

                    <p>
                        World of Warcraft Themed Dungeon App - User is given menu options to choose a character and a weapon. In randomly generated rooms, user fights monsters in a queue. User is continuously offered a menu to attack, view player stats, monster stats, and/or exit the game and will continue to play until they quit the game.
                    </p>
                </div>

            </div>

        </div>
    </div><!-- End Portfolio Details -->

</main><!-- End #main -->